Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: sg-c3b9daa6
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
	  
packages:
  yum:
    mod_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
        	Order deny,allow
        	Allow from all
        </Proxy>
        SSLEngine on
        SSLProtocol All -SSLv2 -SSLv3
        SSLCertificateFile "/usr/local/ssl/certs/server.crt"
        SSLCertificateKeyFile "/usr/local/ssl/certs/privatekey.pem"
        
        ProxyPass / http://localhost:8080/ retry=0
        ProxyPassReverse / http://localhost:8080/
        ProxyPreserveHost on
        
        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
	-----BEGIN CERTIFICATE REQUEST-----
	MIIDNjCCAh4CAQAwgcAxCzAJBgNVBAYTAklOMRAwDgYDVQQIDAdHdWphcmF0MRIw
	EAYDVQQHDAlBaG1lZGFiYWQxDzANBgNVBAoMBkFzcGlyZTEPMA0GA1UECwwGQXNw
	aXJlMTowOAYDVQQDDDFlYzItNTQtNjktMTg1LTE5My51cy13ZXN0LTIuY29tcHV0
	ZS5hbWF6b25hd3MuY29tMS0wKwYJKoZIhvcNAQkBFh5wcmF0aWsucGF0ZWxAYXNw
	aXJlc29mdHdhcmUuaW4wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCr
	T8GXdDzc7XMOvJ1b/UrkEoQPoXujATITM+a76ZgOvrpgnMwCLtGeZEhHTGyA1Hhu
	TBxvzrH1Afnhwza2kChP0sz6XEW9uOGs2LonwYuUMV963x2R6rc1WbIIq02uYrrJ
	Qm4OnbknXptL0zNU69PzKR0ylrryUit4OZjFlx9JwWEBqN4Js/YwiP3Oow3eOElz
	J8Y7oB45EJqRfvM8CkzdOH4pXYQpUGmxODpAdP3R4YE70szFGEFTPc+e0LVdBdi8
	Ka+bmHsKcX60cHFSfI5wF9cKa08Bt2w+hvcxqN2LT7OoXuY141sk5jPsuQHwsOZk
	n2uAKTTs633/Id2Y6uedAgMBAAGgMDAVBgkqhkiG9w0BCQIxCAwGQXNwaXJlMBcG
	CSqGSIb3DQEJBzEKDAhjaGFuZ2VpdDANBgkqhkiG9w0BAQsFAAOCAQEAWFcJ6TuU
	8creE+q3RJ4HfxszRegCB1+v6iKqvaWHIcCzjDRFJ03ZRFuBc4/koPj/8qn8Y4SD
	EAu6nGnluQYVkdClclhBeaMwrNM/0KY0KqAIqgALoPDgjf7xJUb46RdgKLV8bNI3
	4lG8Q2pQQKVK9K6zxC+dU5Ymxt6P053FGAtP5BRzZvXN2ckFrH17gd6dMOPToHhi
	9GZgNp8d/nqLuZzUxU8HT/ZMHp5JUc9j++4NoC3fZOBnQTgwlpXVSzDpW/RqYIDQ
	SxLb7t9P7yuxA+J8XX3UfPuJUaKvQ6sB7zDgW2wGXHERguxFUFVByA9K2cQ817sv
	VCI+tpzOI7Q9ow==
	-----END CERTIFICATE REQUEST-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
	-----BEGIN RSA PRIVATE KEY-----
	MIIEpAIBAAKCAQEAq0/Bl3Q83O1zDrydW/1K5BKED6F7owEyEzPmu+mYDr66YJzM
	Ai7RnmRIR0xsgNR4bkwcb86x9QH54cM2tpAoT9LM+lxFvbjhrNi6J8GLlDFfet8d
	keq3NVmyCKtNrmK6yUJuDp25J16bS9MzVOvT8ykdMpa68lIreDmYxZcfScFhAaje
	CbP2MIj9zqMN3jhJcyfGO6AeORCakX7zPApM3Th+KV2EKVBpsTg6QHT90eGBO9LM
	xRhBUz3PntC1XQXYvCmvm5h7CnF+tHBxUnyOcBfXCmtPAbdsPob3Majdi0+zqF7m
	NeNbJOYz7LkB8LDmZJ9rgCk07Ot9/yHdmOrnnQIDAQABAoIBABIcDEsGbqisMU2N
	gtUGobQagPtmBrvklHaTNgEHYJuubeVorehNKrujvkBLQ+0aiOCgCyGGqClOXCwR
	huclth06G5Eb0AOOV8z93C/3tdmknoNOssGKHnP1V2yzLzMQHM7Jxvikk74lsiUB
	3ptLksxRvFRsuraDGTVMYWoB37zcGCuyVflv/JXKE0uXJqPpKxQsJaGfQCuNcd3U
	s+obkA/lUphsIOFOjTqoTkHzW92i9GfvCb/kt7yt15HX4/2mQyfrh13VRHWppOxL
	dc5VPWopyj7eDJkOgHaXKp4neYaS25KQNQRODBpFMPUgxjx6s02hGNKCHjfd+Ssw
	7VzCX8ECgYEA1g15C4sILklGQFJE5dp/l/onM9bQHgeGGj3/tfJ7Ld4NizTJrpbu
	eNQgVO2SNZTnZnLxJCvA7JM5r7TSjF39cmaDAs9Cy4ir8wHJYG7PHLqLZbjiTtpv
	6KZdj2WDD2JuI3A5e/1h8XofODq5Ueo0aRsXSw3Bjmbq5mPZdVc2S0MCgYEAzOIP
	1ZtrtMVQmAeCutIQ0q3yBSx3QDzcxts8Xdk+7hfM2jURa9Zk83q+4f0ZQWb/WaSw
	hlj0UI9UX8chawIzh4Kh+Lhbg1o6zuDBAJB/fF+ODaxG83mj/AQS5PC56zOoIqR/
	ADmTImmx4B4g96o4gbWQKl1Oys90bxCQOHP4I58CgYEAmQgM0AnYEW9lgDrQ8xuh
	OQAo4tDi/XUXlM9ab7QqCILGYA2fWuihGVVewBkQ/Km2PfJTIC7/wKMJDOtT0/Km
	bhGH/Iw9DtJpTFSsqfrOq5Vab6Eceo+EjmnSXeCPMIKIh2GGV3Sxfzh19XdWYo/0
	ZGhv4MK27J37tjcQkumE8Y0CgYANd766t+C4nU/S7ot1ZGGet7h1BptAKcAJglfR
	g3pThFT+8wYWJJ22M5dgm5aRagfXCLBh5G8K7KELOrfDpP1mJvwmsVeypre+6Z9G
	PjljH5Ti6TQwxQo2gr4LNpfCEj83J8EBbsdxN6ltpg1cul/Ehv7XChMn2cM5mckh
	LN5e2QKBgQC05hYgMkaCrc1XYzOSAajnJ+jO19UobdMyEyC/iM3H+OnP9D9O46u/
	iAQH++bLX1GD+EHHBf37aIz/Ag/iivF9Ma3TjUHLV64hcRdM0/oGusIjnJI0RpnE
	O/rpVrmf7H/008Y5UoJVyOvorpVUI0rSoj2SRmeNzSzqQg4ObMK4Zg==
	-----END RSA PRIVATE KEY-----

services:
  sysvinit:
    httpd:
      enabled: true
      ensureRunning: true
      files : [/etc/httpd/conf.d/ssl.conf,/usr/local/ssl/certs/privatekey.pem,/usr/local/ssl/certs/server.crt]

